<Router AppAssembly="typeof(Program).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="routeData" DefaultLayout="typeof(Layout.MainLayout)">
            <NotAuthorized>
                <MudPaper Outlined="true" Class="d-flex align-content-center flex-wrap flex-grow-1 gap-4" Height="350px" Elevation="0">
                    <MudGrid Justify="Justify.Center">
                        <MudItem md="4">
                            <div>
                                <MudText Color="Color.Error" Typo="Typo.h6" Class="pa-5" Align="Align.Center">  <MudIcon Icon="@Icons.Material.Filled.Block" Color="Color.Error" Size="Size.Large" />You are not authorized to access page</MudText>
                            </div>


                        </MudItem>
                    </MudGrid>
                </MudPaper>

            </NotAuthorized>
            <Authorizing>
                Please wait....
            </Authorizing>
        </AuthorizeRouteView>
        
        <FocusOnNavigate RouteData="routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(Layout.MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>